@font-face {
    font-family: 'NeueHaasGroteskDisp Pro';
    src: url('../NHaasGroteskDSPro-25Th.woff2') format('woff2'),
        url('../NHaasGroteskDSPro-25Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskDisp Pro';
    src: url('../NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
        url('../NHaasGroteskDSPro-55Rg.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskDisp Pro UltTh';
    src: url('../NHaasGroteskDSPro-15UltTh.woff2') format('woff2'),
        url('../NHaasGroteskDSPro-15UltTh.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('../NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
        url('../NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('../NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
        url('../NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro Md';
    src: url('../NHaasGroteskTXPro-65Md.woff2') format('woff2'),
        url('../NHaasGroteskTXPro-65Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro Md';
    src: url('../NHaasGroteskTXPro-65Md.woff2') format('woff2'),
        url('../NHaasGroteskTXPro-65Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('../NHaasGroteskTXPro-75Bd.woff2') format('woff2'),
        url('../NHaasGroteskTXPro-75Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('../NHaasGroteskTXPro-75Bd.woff2') format('woff2'),
        url('../NHaasGroteskTXPro-75Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../Georgia-Bold.woff2') format('woff2'),
        url('../Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../Georgia.woff2') format('woff2'),
        url('../Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../Georgia-Bold.woff2') format('woff2'),
        url('../Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

