.container {
    width: 1600px;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.row {
    width: 100%;
}

header {

    .top-header ul {
        a {
            font-family: var(--title);
            color: var(--black);
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 0 2rem;
        }
    }

    .navbar-nav {
        padding: 0 0 0 24px;

        li {
            margin: 0 5% 0 0;

            a {
                color: var(--white);
                font-family: var(--title);
                font-weight: 500;
                font-size: 18px;
                transition: .5s ease 0s;
    
                &:hover,
                &:active,
                &:focus {
                    color: var(--primary);
                }
            }
        }        
    }

}