:root {

    --title     :   'NeueHaasGroteskDisp Pro';
    --font      :   'Georgia'; 

    --black: #000;
    --white: #fff;
    --grey: #323232;

    --primary: #002F6C;
    --secondary: #FF8200;

}

.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}