.agence-intro {
    padding: 5rem 0;
    height: calc(100vh - 74px);

    .container {
        padding-left: 5rem;
        padding-right: 5rem;

        h1 {
            font-family: var(--text);
            font-size:  32px;
            line-height: 42px;
        }

        .card-container {
            right: 0;
            width: 50%;
        }
        
        .d-flex a {
            margin: 2rem 2rem 0 0;
        }
    }   
}

.agence-studio {
    padding: 3rem 0 4rem;

    .row > .col-12 {
        padding: 0 10% 0 0;

        &:last-child {
            padding: 0 0 0 10%;

            .accordion .accordion-item {
                padding: .75rem 0;
            }
        }
    }

}

.agence-partenaire {

    ul {
        margin: 5rem auto;

        li {
            flex: 0 0 33.33%;
            border-bottom: 1px solid var(--white);
            border-right: 1px solid var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            min-height: 13rem;

            &:nth-child(3n) {
                border-right: none;
            }

            &:nth-last-child(-n+3) {
                border-bottom: none;
            }

            a {
                opacity: .5;
                transition: .5s ease 0s;

                &:hover,
                &:focus,
                &:active {
                    opacity: 1;
                }
            }
        }
    }

}

.agence-equipe .container {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 95%;

    h2 {
        margin: 0 0 4rem;
    }
}

.agence-engagement {
    padding: 0;

    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    
        h2 {
            margin: 0 0 3rem;
        }
    
        .link {
            font-family: var(--title);
            font-weight: 700;
            font-size: 21px;
            transition: .5s ease 0s;
    
            svg path {
                stroke: var(--white);
                transition: .5s ease 0s;
            }
    
            &:hover,
            &:active,
            &:focus {
                color: var(--secondary);
    
                svg path {
                    stroke: var(--secondary);
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .agence-intro {
        height: auto!important;
        padding-bottom: 0;

        .container .card-container {
            position: relative!important;
            width: 100%;
            transform: translate(7.5%, 0);
        }
    }

    .agence-studio .row > .col-12:last-child {
        padding: 5% 0 0;
    }
}

@media screen and (max-width: 640px) {

    .agence-intro .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        h1 {
            font-family: var(--text);
            font-size: 24px;
            line-height: 34px;
        }
    }

    .agence-partenaire ul li {
        flex: 0 0 50%;

        &:nth-child(2n) {
            border-right: none;
        }

        &:nth-child(3n) {
            border-right: 1px solid var(--white);
        }

        &:nth-last-child(3) {
            border-bottom: 1px solid var(--white);
        }

        &:nth-last-child(-n+2) {
            border-bottom: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    .agence-equipe .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .perspective-2 {
            transform: translate(9%, 0px);
        }
    }

    .agence-engagement .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .perspective-3 {
            transform: translate(-5%, 0px);
        }
    }
}