// Listing projet
.projet-list {
    padding: 9rem 0 0;

    .list-projet {
        border-top: 1px solid #323232;
        margin: 5rem auto 0;
    }

    .list-imgProjet {
        padding: 0 10% 0 0;

        li:nth-child(n+2) {
            display: none;
        }

    }

    .list-client {
        width: 100%;

        & > li {
            padding: 18px 0;
            display: flex;
            align-items: center;

            &:nth-child(n+2) {
                border-top: 1px solid #323232;
            }

            .descr {
                flex: 1;
                padding: 0 5rem 0 0;

                h3 a {
                    font-size: 30px;
                    line-height: 34px;
                    font-weight: 700;
                    margin: 0;

                    &:hover,
                    &:active,
                    &:focus {
                        color: var(--secondary);
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 0 0 7px;
                    
                    li {
                        position: relative;
                        padding: 0 1rem 0 0;
                        text-transform: uppercase;

                        a {
                            font-size: 13px;
                            font-weight: 300;
                        }
                    }
                }
            }

            .link {
                flex: 0 0 8rem;
                text-align: right;
                font-family: var(--title);

                a {
                    color: var(--white);
                    transition: 0.5s ease 0s;
                    font-size: 13px;
                    font-weight: 600;

                    svg {
                        transform: translate(0, 0);
                        transition: .5s ease 0s;
                    }
    
                    &:hover {
                        color: var(--secondary);

                        svg {
                            transform: translate(10px, 0);

                            path {
                                stroke: var(--secondary);
                            }
                        }
                    }
                }
            }
        }
    }

}

// Detail projet
.projet-slider .row {
    padding: 0;
}

.projet-details {

    .col-lg-9 {
        padding: 0 15% 0 12px;

        h1 {
            margin: 0 0 3rem;
        }

        h2 {
            margin: 2rem 0;
        }

        ul {
            padding: 0 0 0 2rem;

            li {
                list-style: outside;
                font-weight: 300;
            }
        }

        .bg-primary {
            padding: 2rem;
            margin: 4rem 0;

            h2 {
                font-weight: 700;
                margin-top: 0;
            }
        }

        .list-client {
            width: 100%;
            padding: 0;
    
            & > li {
                padding: 18px 0;
                display: flex;
                align-items: center;
                list-style: none;
    
                &:nth-child(n+2) {
                    border-top: 1px solid #323232;
                }
    
                .descr {
                    flex: 1;
                    padding: 0 5rem 0 0;
    
                    h3 a {
                        font-size: 30px;
                        line-height: 34px;
                        font-weight: 700;
                        margin: 0;
    
                        &:hover,
                        &:active,
                        &:focus {
                            color: var(--secondary);
                        }
                    }
    
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 0 0 7px;
                        padding: 0;
                        
                        li {
                            position: relative;
                            padding: 0 2rem 0 0;
                            text-transform: uppercase;
                            list-style: none;
    
                            a {
                                font-size: 13px;
                                font-weight: 300;
                            }
                        }
                    }
                }
    
                .link {
                    flex: 0 0 8rem;
                    text-align: right;
                    font-family: var(--title);
    
                    a {
                        color: var(--white);
                        transition: 0.5s ease 0s;
                        font-size: 13px;
                        font-weight: 600;
    
                        svg {
                            transform: translate(0, 0);
                            transition: .5s ease 0s;
                        }
        
                        &:hover {
                            color: var(--secondary);
    
                            svg {
                                transform: translate(10px, 0);
    
                                path {
                                    stroke: var(--secondary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    aside {
        .bloc {
            margin: 0 0 1rem;

            h3 {
                color: var(--secondary);
                font-size: 16px;
                font-weight: 500;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: 0 .75rem .75rem 0;
                }

                &.categorie li {
                    padding: 7px;
                    background-color: #323232;
                    border-radius: 5px;
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {

    .projet-details .col-lg-9 {
        padding: 0 5% 0 12px;
    }

}

@media screen and (max-width: 991px) {

    .list-projet > div:first-child {
        display: none!important;
    }

    .projet-details .col-lg-9 {
        padding: 0 12px;
    }

}

@media screen and (max-width: 640px) {

    .projet-list .list-client > li,
    .projet-details .col-lg-9 .list-client > li {
        flex-wrap: wrap;

        .descr {
            padding: 0;
            flex: 0 0 100%;
        }

        .link {
            text-align: left;
        }
    }

}